<span>操作已选域名：</span>
<input type="button" value="参与抢购" class="u-btn10 btn_delete btn_pl" k='/account/pl_set/buynow' />
<!--<input type="button" value="展示一口价" class="u-btn20 btn_delete"  />-->
<!--<input type="button" value="申请优质" class="u-btn20 btn_delete"  />-->
<input type="button" value="批量删除" class="u-btn10 btn_delete btn_pl" v="del" k='/account/pl_operation?type=9' />
<input type="button" value="批量设置" class="u-btn10 btn_delete btn_pl" k='/account/pl_set/yjset' />


<php>/*//原来的注释起来，便于以后参考</php>
<input type="button" value="申请竞价" class="u-btn10 btn_delete btn_pl" k='/account/pl/fastbid' />
<input type="button" value="展示一口价" class="u-btn10 btn_delete btn_pl" k='/account/pl/ykj' />
<input type="button" value="申请优质" class="u-btn10 btn_delete btn_pl" k='/account/pl/yz' />
<input type="button" value="批量删除" class="u-btn10 btn_delete btn_pl" v="del" k='/account/pl_operation?type=9' />
<input type="button" value="批量设置" class="u-btn10 btn_delete btn_pl" k='/account/pl_set/yjset' />
<php>*/</php>