
<!DOCTYPE html>
<html>
<head>
    <title>账户信息 - 账号安全</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1000">

    <meta property="qc:admins" content="1376071777766263757" />

    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/account.css" />

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/skin.css" />
    
</head>
<body class="s-bg-global">
<include file="Public:header" />
    

<div class="s-bg-f7">
    <div class="g-position">
        <div class="m-position u-fl">
            <ol>
                <li>当前位置：&nbsp;</li>
                <li><a href="/" class="s-2a">首页</a>&nbsp;&gt;&nbsp;</li>
                <li><a href="/account/index" class="s-2a">我的账户</a>&nbsp;&gt;&nbsp;</li>
                <li>账户管理&nbsp;&gt;&nbsp;</li>
                <li>账号安全</li>
            </ol>
        </div>
        <div class="m-serverTime u-fr">
    <include file="Public:page_time" />
</div>

        <div class="u-cls"></div>
    </div>
</div>
<div class="g-content u-cls">
    <div class="m-content">
        <!-- 左边 -->
        <div class="u-fl">
            <!-- 标题&验证 -->
            <div class="s-bg-fc u_be9" style="width: 702px;">
                <div class="m-ta s-bg-white">
                    <div class="title">
                        <a class="s-3c" href="javascript:void(0)">
                            <span>账号安全</span>
                        </a>
                    </div>
                    <div class="u-cls"></div>
                </div>
            </div>
            <!-- 选项卡 -->
            <div class="m-acc-select u_be9 s-bg-white">
                <!-- 标题 -->
                <div class="m-acc-title s-bg-fc">
                    <div class="u-fl"><a href="/account/bind" >手机绑定</a></div>
                    <div class="u-fl"><a href="/account/bind/email" class=active>邮箱绑定</a></div>
                    <div class="u-fl"><a href="/account/bind/protect"  >操作保护</a></div>
                    <div class="u-fl"><a href="/account/Loglog"    >登录日志</a></div>
                    <div class="u-cls"></div>
                </div>
                
                    <div class="m-acc-cons s-bg-fc u_mall1">
                        <div class="m-inse">
                            <p class="f-p-t12">绑定后，您可以通过邮箱登陆，并可以通过邮箱找回密码</p>
                            <p class="u_mb15 s-ff6 u_fw">请注意：</p>
                            <p>手机和邮箱同时绑定才能解绑</p>
                        </div>
                    </div>
                    <div class="m-question s-bg-fc u_be9">
                        <ul>
                            <li class="u_mb28">
                                <div class="question_txt">您绑定的邮箱：</div>
                                <div class="question_ipt s-bg-f5">
                                    <input type="text" id="txtphone" value="2880133429@qq.com" readonly/>
                                </div>
                                <div class="u-cls"></div>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <!-- 右边 -->
        
<include file="Account:sidenav" />

        <div class="u-cls"></div>
    </div>
</div>

    
<include file="Public:footer" />
<include file="Public:footer_commonjs" />

    
    <script type="text/javascript" src="{:C('SKINURL')}js/logic/account.js"></script>
    
    <script type="text/javascript">
        $(function () {
            var m = 60;
            $("#getCode").click(function () {
                if (!/1\d{10}/.test($("#txtphone").val())) {
                    showDialog(lang.a13);
                    return false;
                }

                if (m == 60) {
                    $(this).val("60" + lang.a12).css({ "background": "#d5d5d5", "color": "#656567" });
                    $(".f-p-lia").text(lang.a14);
                    getTime(this)
                }
                else
                    return false;
                $.post('/account/sendcode', { phone: $('#txtphone').val(), type: "phone" }, function (data) {
                    if (data.data == "") {
                        showDialog(lang.a15);
                    }
                });
            });

            $("#getemailCode").click(function () {
                if (! /^[0-9a-zA-Z\._-]+@(([0-9a-zA-Z]+)[.])+[a-z]{2,4}$/.test($("#txtemail").val())) {
                    showDialog(lang.a16);
                    return false;
                }

                if (m == 60) {
                    $(this).val("60" + lang.a12).css({ "background": "#d5d5d5", "color": "#656567" });
                    $(".f-p-lia").text(lang.a14);
                    getTime(this)
                }
                else
                    return false;
                setCookie("verficode", "59", 24);
                $.post('/account/sendcode', { email: $('#txtemail').val(), type: "email" }, function (data) {
                    if (data.data == "") {
                        showDialog(lang.a15);
                    }
                });

            });


            function getTime(obj) {
                var Timer = setInterval(function () {
                    m--;
                    if (m > 0) {
                        $(obj).val(m + lang.a12);
                    } else {
                        clearInterval(Timer);
                        m = 60;
                        $(obj).val(lang.a17).removeAttr("style");
                    }
                }, 1000);
            }

            $(".sub_jb").click(function () {
                if ($("#txtphone").val() == "" || $("#txtphone").val() == $("#txtphone").attr("ph") || $("input[name='txtcode']").val() == "" || $("input[name='txtcode']").val() == $("input[name='txtcode']").attr("ph")) {
                    showDialog(lang.a18);
                    return false;
                }
            })
            $(".sub_jb_email,sub_jb").click(function () {
                if ($("#txtemail").val() == "" || $("#txtemail").val() == $("#txtemail").attr("ph") || $("input[name='txtcode']").val() == "" || $("input[name='txtcode']").val() == $("input[name='txtcode']").attr("ph")) {
                    showDialog(lang.a18);
                    return false;
                }
            })

            //操作保护
            $(".sub_tj").click(function () {
                if ($(".txt_que").val() == "" || $(".txt_que").val() == $(".txt_que").attr("ph")) {
                    showDialog(lang.a19);
                    return false;
                }
                if ($(".txt_ans").val() == "" || $(".txt_ans").val() == $(".txt_ans").attr("ph")) {
                    showDialog(lang.a20);
                    return false;
                }
                if ($(".txt_pwd").val() == "") {
                    showDialog(lang.a21);
                    return false;
                }
            })

            $(".btn_del").click(function () {
                if (confirm(lang.a22 + "？")) {
                    $.post("/account/delmibao", { "id": $(this).attr("idx") }, function (data, status) {
                        if (data.data == 1)
                            location.href = location.href;
                        else
                            showDialog(lang.a23);
                    })
                }
            });
        })
    </script>

</body>
</html>
