
<!DOCTYPE html>
<html>
<head>
    <title>我的账户 - 议价域名批量设置</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1000">

    <meta property="qc:admins" content="1376071777766263757" />

    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/account.css" />

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/skin.css" />
    
</head>
<body class="s-bg-global">
<include file="Public:header" />

<div class="s-bg-f7">
    <div class="g-position">
        <div class="m-position u-fl">
            <ol>
                <li>当前位置：&nbsp;</li>
                <li><a href="/" class="s-2a">首页</a>&nbsp;&gt;&nbsp;</li>
                <li><a href="/account/index" class="s-2a">我的账户</a>&nbsp;&gt;&nbsp;</li>
                <li>我是卖家&nbsp;&gt;&nbsp;</li>
                <li><a class="s-2a" href="/account/allsell">所有域名管理</a>&nbsp;&gt;&nbsp;</li>
                <li>议价域名批量设置</li>

            </ol>
        </div>
        <div class="m-serverTime u-fr">
    <include file="Public:page_time" />
</div>

        <div class="u-cls"></div>
    </div>
</div>
<div class="g-content u-cls">
    <div class="m-content">
        <div class="m-title-a u_be9 s-bg-fc u_mb6">
            <a href="javascript:void(0);">议价域名批量设置</a>
        </div>
        
<form action="/account/pl_operation" method="post" id="form">
	<input type="hidden" name="fromurl" value="{$fromurl}" />
    <input type="hidden" name="type" value="yjset" />
    <div class="m-batch-data s-bg-fc" id="batch-data">
        <table>
            <tr class="s-bg-white u_bb0">
                <th width="16px"></th>
                <th></th>
                <th width="150px" class="u_tl">域名</th>
                <th width="206px" class="u_tl">域名分组</th>
                <th width="230px" class="u_tl">价格</th>
                <!--<th width="190px" class="u_tl">过滤价</th>-->
                <th width="286px" class="u_tl">简介</th>
                <th width="16px"></th>
            </tr>
            <tr class="u_bb0">
                <td></td>
                <td></td>
                <td><span class="u_fw">批量设置</span></td>
                <td>
                    <div class="m-batch-slt">
                        <select class='f-slt-b' name='allselect'>
                        <option value='0'>无分组</option>
                        <volist name="myGroupInfo2" id="gro">
                        <option value='{$gro.dgid}'>{$gro.gname}</option>
                        </volist>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="m-batch-setmoney">
                        <div class="m-batch-ipt s-bg-white" style="border: 1px solid rgb(235, 235, 235);">
                            <input type="text" class="s-75b money" name="plmoney" />
                        </div>
                        <div class="batch-money">元</div>
                        <div class="u-cls"></div>
                    </div>
                </td>
                <!--<td>
                    <div class="m-batch-setmoney">
                        <div class="m-batch-ipt s-bg-white" style="border: 1px solid rgb(235, 235, 235);">
                            <input type="text" class="s-75b money1" name="allblj" />
                        </div>
                        <div class="batch-money">元</div>
                        <div class="u-cls"></div>
                    </div>
                </td>-->
                <td>
                    <div class="m-batch-ipt2 s-bg-white" style="border: 1px solid rgb(235, 235, 235);">
                        <input type="text" name="pljj">
                    </div>
                </td>
                <td></td>
            </tr>
            	<volist name="setDomain" id="vo" key='k'>
                <tr <if condition="$k lt count($setDomain)">class='u_bb0'</if>>
                    <td>
                        <input type='hidden' name='did[]' value='{$vo.did}' /></td>
                    <td>
                        <input type="button" class="ipt_remove" value="移除" /></td>
                    <td><a class="u-txa1">{$vo.title}</a></td>
                    <td>
                        <div class="m-batch-slt">
                            <select class='f-slt-b plselect' name='select[]'>
                            <option value='0'>无分组</option>
                            <volist name="myGroupInfo2" id="gro">
                            <if condition="$gro['dgid'] eq $vo['dgid']">
                            <option value='{$gro.dgid}' selected='selected'>{$gro.gname}</option>
                            <else />
                            <option value='{$gro.dgid}'>{$gro.gname}</option>
                            </if>
                            </volist>
                            <!--<volist name="myGroupInfo2" id="gro">
                            <if condition="$vo.dgid eq $gro.dgid">
                            <option value='{$gro.dgid}' selected='selected'>{$vo.gname}</option>
                            <else />
                            <option value='{$gro.dgid}'>{$vo.gname}</option>
                            </if>
                            </volist>-->
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="m-batch-setmoney">
                            <div class="m-batch-ipt s-bg-white" style="border: 1px solid rgb(235, 235, 235);">
                                <input type="text" value="<if condition='$vo.price gt 0'>{$vo.price|number_format}</if>" class="s-75b money" name='money[]' />
                            </div>
                            <div class="batch-money">元</div>
                            <div class="u-cls"></div>
                        </div>
                    </td>
                    <!--<td>
                        <div class="m-batch-setmoney">
                            <div class="m-batch-ipt s-bg-white" style="border: 1px solid rgb(235, 235, 235);">
                                <input type="text" value="" class="s-75b money1" name='blj'  />
                            </div>
                            <div class="batch-money">元</div>
                            <div class="u-cls"></div>
                        </div>
                    </td>-->
                    <td>
                        <div class="m-batch-ipt2 s-bg-white" style="border: 1px solid rgb(235, 235, 235);">
                            <input type="text" value="{$vo.remark}" class="jj" name='jj[]'>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </volist>
        </table>
    </div>
    <div class="m-batch-tj s-bg-fc">
        <input type="button" class="u-btn16 s-bg-2a" onclick="javascript: history.go(-1)" style="margin-right:50px;" value="返回" />
        <input type="submit" value="提交" class="u-btn16 s-bg-2a" />
    </div>
</form>

    </div>
</div>

    
<include file="Public:footer" />
<include file="Public:footer_commonjs" />

    
    <script type="text/javascript" src="{:C('SKINURL')}js/logic/accountmy.js"></script>

</body>
</html>
