<div class="u-fr">
        <div class='m-pop s-bg-fa' id='pop_broker'>
            <p class='f-p-t7 u_bb0'>
                <span class='u-fl'>申请更换经纪人</span>
                <span class='u-fr close close_broker'></span>
                <span class='u-cls'></span>
            </p>
            <div style='padding: 10px;'>
                <dl></dl>
                <p style="clear: both;">
                    <br />
                    <span style="margin: 10px 0 0 15px">更换原因：</span><div style="margin: 10px 20px 10px 15px; background: #fff;">
                        <textarea id="reason" style="width: 100%; padding: 5px;" rows="3" maxlength="100"></textarea>
                    </div>
                </p>
                <input id="btn_change" type="button" value="提交" class="u-btn10" style="padding: 0 20px; margin: 0 20px 0 316px;" /><input type="button" value="取消" class="u-btn10 close_broker" style="padding: 0 20px;" />
                <br />
                <br />
            </div>
        </div>
        <div class="m-callagent1 s-bg-fc">
            <h3>欢迎来到62优名网！</h3>
            <div class="callagent">
                <p class="u_fw u_mb15">{$agentInfo.name} <span id="changeBroker">更换</span>                </p>
                <p class="u_mb15">电话：<span class="u_fw">{$agentInfo.telphone}</span></p>
                <p class="u_mb20">邮件：<span class="u_fw">{$agentInfo.email}</span></p>
                <p>
                    <a href='tencent://message/?uin={$agentInfo.qq}&amp;Site=优名网' class="btn-qqtalk">QQ交谈
                        
                    </a>
                    <a href="javascript:void(0)" id="calling" class="btn-callagent u-fl" title="经纪人会主动打电话联系您">呼叫经纪人</a>
                </p>
                <div class="u-cls"></div>
            </div>
        </div>
    <div class="m-processList1" id="processList">
        <h3 style="background-position: 0 -14px;">我是买家</h3>
        <div class="process1">
            <ul>
                <li><a href="/account/negotiation">我给出的报价</a></li>
                <!--<li><a href="/account/partakefast">我参与的竞价</a></li>-->
                <li><a href="/account/buynow">我参与的抢购</a></li>
                <li><a href="/account/pay">我委托的代购</a></li>
                <li><a href="javascript:void(0)" onclick="javascript:location.href='/account/deals/complete'">已买到的域名</a></li>
            </ul>
        </div>
        <h3 style="background-position: 0 -161px;">我是卖家</h3>
        <div class="process1">
            <ul>
                <li><a href="/account/allsell">我的所有域名</a></li>
                <li><a href="/account/adddomains">添加域名出售</a></li>
                <!--<li><a href="/account/pldomain">我的批量交易</a></li>-->
                <!--<li><a href="/account/adddomains/pl" style="background-image: url({:C('SKINURL')}images/account/new.png); background-repeat: no-repeat; background-position: 142px 1px;">添加批量交易</a></li>-->
                <li><a href="/account/withcheck">待验证的域名</a></li>
                <!--<li><a href="/account/sellnegotiation">我收到的报价</a></li>-->
                <li><a href="/account/sellnow">限时抢购管理</a></li>
                <!--<li><a href="/account/fastbid">极速竞价管理</a></li>-->
                <!--<li><a href="/account/aprice">一口价管理</a></li>-->
                <!--<li><a href="/account/highgrade/selling">优质域名管理</a></li>-->
                <li><a href="/account/terminal">我的终端域名</a></li>
                
                <li><a href="/account/group">域名分组管理</a></li>
                <!--<li><a href="/account/sellpage">出售页管理</a></li>-->
                <!--<li><a href="/account/mibiao">米表管理 </a></li>-->
            </ul>
        </div>
        <h3 style="background-position: 0 -309px;">交易管理</h3>
        <div class="process1">
            <ul>
                <li><a href="/escrow">发起中介交易</a></li>
                <li><a href="/account/deals">我的所有交易</a></li>
            </ul>
        </div>
        <h3 style="background-position: 0 -457px;">财务信息</h3>
        <div class="process1">
            <ul>
                <li><a href="/account/recharge">账户充值</a></li>
                <li><a href="/account/withdrawal">提现</a></li>
                <li><a href="/account/record">财务明细</a></li>
                <li><a href="/account/frozendetail">冻结明细</a></li>
                <li><a href="/account/vouchers">代金券</a></li>
                <li><a href="/account/luckymoney">红包管理</a></li>
            </ul>
        </div>
        
        <h3 style="background-position: 0 -604px;">账户管理</h3>
        <div class="process1">
            <ul>
                <li><a href="/account/bind">账号安全</a></li>
                <li><a href="/account/whoisemail">Whois邮箱</a></li>
                <li><a href="/account/updateprofile">修改资料</a></li>
                <li><a href="/account/updatepwd">修改密码</a></li>
                <li><a href="/account/thirdparty">第三方绑定</a></li>
            </ul>
        </div>
        <!--<h3 style="background-position: 0 -752px;">问题反馈</h3>
        <div class="process1">
            <ul>
                <li><a href="/account/submit">提交问题</a></li>
                <li><a href="/account/list">问题列表</a></li>
            </ul>
        </div>-->
    </div>
</div>
<!-- 优先加载menu js-->
<script src="{:C('SKINURL')}js/jquery-1.8.2.min.js"></script>
<script>
    var href = location.href.match(/\/\/.+?\/(.+)/)[1];
    var n = href;
    if (href.indexOf("account/adddomains") < 0) {
        try { n = href.match(/(.+?\/.+?)\//i)[1]; }
        catch (e) { };
    }
    switch (n) {
        case "account/Loglog":
            n = "account/bind";
            break;
        case "account/updatepage":
            n = "account/sellpage";
            break;
        case "account/addpage":
            n = "account/sellpage";
            break;
        case "account/feedback":
            n = "account/list";
            break;
    }
    var sld_a = $(".process1 li a[href*='" + n + "']");
    if (sld_a.length == 0) {
        $(".process1:first").css("display", "block");
    } else {
        sld_a.addClass("t");
        if (n == 'account/adddomains')
            $(".process1 li a[href*='account/adddomains/pl']").removeClass('t');
        var sld_h3 = sld_a.parent(0).parent(0).parent(0).prev();
        //var pos_y = getPos_y(sld_h3);
        //sld_h3.addClass("active_s").css("background-position", "0px " + (-pos_y - 74) + "px");
        sld_a.parent(0).parent(0).parent(0).css("display", "block");
    }
</script>