<!DOCTYPE html>
<html>
<head>
    <title>账户信息 - Whois邮箱</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1000">

    <meta property="qc:admins" content="1376071777766263757" />

    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/account.css" />

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/skin.css" />
    
</head>
<body class="s-bg-global">
<include file="Public:header" />
    

<div class="s-bg-f7">
    <div class="g-position">
        <div class="m-position u-fl">
            <ol>
                <li>当前位置：&nbsp;</li>
                <li><a href="/" class="s-2a">首页</a>&nbsp;&gt;&nbsp;</li>
                <li><a href="/account/index" class="s-2a">我的账户</a>&nbsp;&gt;&nbsp;</li>
                <li>账户管理&nbsp;&gt;&nbsp;</li>
                <li>Whois邮箱</li>
            </ol>
        </div>
        <div class="m-serverTime u-fr">
    <include file="Public:page_time" />
</div>

        <div class="u-cls"></div>
    </div>
</div>
<div class="g-content u-cls">
    <div class="m-content">
        <!-- 左边 -->
        <div class="u-fl">
            <!-- 标题&验证 -->
            <div class="s-bg-fc u_be9" style="width: 702px;">
                <div class="m-ta s-bg-white">
                    <div class="title">
                        <a class="s-3c" href="javascript:void(0)">
                            <span>Whois邮箱</span>
                        </a>
                    </div>
                    <div class="u-cls"></div>
                </div>
            </div>
            <div class="m-insf s-bg-fc">
                <p>
                    若您的不同域名在多个whois邮箱管理下，您可以把这些邮箱和您的账户进行绑定。
                </p>
                 <p>
                    在添加域名出售时，若添加的域名whois邮箱已绑定成功，则添加的域名会自动通过系统验证。
                </p>
            </div>
            <!--您绑定的邮箱  -->
            <form id="form1" action="/account/bindwhoisemail" method="post">
                <div class="m-bindemail s-bg-fc">
                    <span>您绑定的邮箱：</span>
                    <span class="u-ipt-o">
                        <input type="text" name="txtemail" />
                    </span>
                    <input type="submit" value="绑定新邮箱" class="u-btn2 s-bg-2a sub_bind" />
                </div>
            </form>
            <!-- 数据 -->
            <div class="m-account-data2 s-bg-fc u_be9">
                <table>
                    <tr class="s-bg-white">
                        <th width="16px"></th>
                        <th width="295px" class="u_tl">邮箱</th>
                        <th width="120px" class="u_tl">是否已验证</th>
                        <th width="255" class="u_tr">操作</th>
                        <th width="16px"></th>
                    </tr>
                        <tr>
                            <td></td>
                            <td class="u_tl">564785139@qq.com</td>
                            <td class="u_tl">是</td>
                            <td class="u_tr">
                                
                                <a class="u-abtn8 btn_del"  href='javascript:void(0)' idx='20866'>删除</a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="u_tl">domain@whoisprotectionservice.org</td>
                            <td class="u_tl">否</td>
                            <td class="u_tr">
                                <a class='u-abtn8 btn_res' href='javascript:void(0)' k='domain@whoisprotectionservice.org'>重新验证</a>
                                <a class="u-abtn8 btn_del"  href='javascript:void(0)' idx='20878'>删除</a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="u_tl">YuMing@YinSiBaoHu.AliYun.com</td>
                            <td class="u_tl">否</td>
                            <td class="u_tr">
                                <a class='u-abtn8 btn_res' href='javascript:void(0)' k='YuMing@YinSiBaoHu.AliYun.com'>重新验证</a>
                                <a class="u-abtn8 btn_del"  href='javascript:void(0)' idx='20892'>删除</a>
                            </td>
                            <td></td>
                        </tr>

                </table>
            </div>
        </div>
        <!-- 右边 -->
        
<include file="Account:sidenav" />

        <div class="u-cls"></div>
    </div>
</div>

    
<include file="Public:footer" />
<include file="Public:footer_commonjs" />

    
    

    <script type="text/javascript" src="{:C('SKINURL')}js/logic/account.js"></script>
    <script>
        $(".btn_res").click(function () {
            $.post("/account/revalidationemail", { "email": $(this).attr("k") }, function (data, status) {
                if (status == "success") {
                    showDialog(lang.a65);
                }
            })
        })

        $(".btn_del").click(function () {
            if (confirm(lang.a22 + "？")) {
                $.post("/account/delwhoisemail", { "id": $(this).attr("idx") }, function (data, status) {
                    if (data.data == 1)
                        location.href = location.href;
                    else
                        showDialog(lang.a23);
                })
            }
        });

        $(".sub_bind").click(function () {
            var rex = /^[0-9a-zA-Z\._-]+@(([0-9a-zA-Z]+)[.])+[a-z]{2,4}$/;
            if (!rex.test($("input[name='txtemail']").val())) {
                showDialog(lang.a16);
                return false;
            }
        })
    </script>

</body>
</html>
