
<!DOCTYPE html>
<html>
<head>
    <title>域名代购 - 代购的优势 - 62.com优名网</title>
    <meta name="keywords" content="域名代购,域名中介,国外域名代购,海外域名代购,好域名代购" />
    <meta name="description" content="62优名网有专业的英语经纪人，可以很方便代购国外域名、国外域名中介、海外域名代购等，并把您的域名推向世界！" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/sell-domain.css" />

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/skin.css" />
    
</head>
<body class="s-bg-global">
<include file="Public:header" />    

<div class="s-bg-f7">
    <div class="g-position">
        <div class="m-position u-fl">
            <ol>
                <li>当前位置：&nbsp;</li>
                <li><a href="/" class="s-2a">首页</a>&nbsp;&gt;&nbsp;</li>
                <li>域名代购</li>
            </ol>
        </div>
        <div class="m-serverTime u-fr">
    <include file="Public:page_time" />
</div>

        <div class="u-cls"></div>
    </div>
</div>
<div class="g-content u-cls">
    <div class="m-content">
        <!-- 左边 -->
        <div class="g-a-container">
            <div class="m-ta s-bg-white u_be9">
                <div class="title">
                    <a class="s-47" href="javascript:void(0)">
                        <span class="z-img-t11"></span>
                        <span>域名代购</span>
                    </a>
                </div>
                <div class="u-cls"></div>
            </div>
            <div class="m-insa s-bg-fc u_be89">
                <ul>
                    <li><span class="u_fw">1.</span>保证金代购失败或成功都会退还，申请方违约则不退还。</li>
<li><span class="u_fw">2.</span>申请方带代购达成前，可以取消代购。代购达成后取消则视为违约。</li>
<li><span class="u_fw">3.</span>代购手续费为固定8%，申请方支付</li>
                </ul>
            </div>
            <div class="m-insb s-bg-fc u_be89" id="animateb">
                <span class="f-img-dg1">代购申请</span>
                <span class="f-img-dg6"></span>
                <span class="f-img-dg2">审核申请</span>
                <span class="f-img-dg6"></span>
                <span class="f-img-dg3">缴纳保证金</span>
                <span class="f-img-dg6"></span>
                <span class="f-img-dg4">跟进谈判</span>
                <span class="f-img-dg6"></span>
                <span class="f-img-dg5">谈判结束</span>
            </div>
            <div class="m-transa s-bg-fc u_be89">
                <p class="f-p-t6 s-bg-white u_bb0 s-3c">发起代购交易</p>
                <form method="post" action="/procurementoperation" id="form">
                	<input type="hidden" id="dgUid"  name="uid" value="{$Think.session.XMUserInfo.uid}"/>
                    <input type="hidden"  name="id" value=""/>
                    <input type="hidden"  name="type" value="0"/>
                    <div class="transa">

                        <p class='u_mb16'>
                            <span class='u-txj'>您的联系邮箱：</span>
                            <span class='u-ipt-d'>
                                <input name='email' maxlength='50' class='email' ph='请输入正确的Email' type='text'/>
                            </span>
                        </p>                        <p class="u_mb16">
                            <span class="u-txj">您想要购买的域名：</span>
                            <span class="u-ipt-d">
                                <input type="text" name="domainName" class="domainName"  ph="62.com   62.net" value="" />
                            </span>
                        </p>
                        <p class="u_mb16">
                            <span class="u-txj">您的心理预算：</span>
                            <span class="u-ipt-d">
                                <input type="text" name="money" class="money" ph="最低5000元人民币起" value="" />
                            </span>
                            <span class="u_m2 s-64">￥</span>
                        </p>
                        <p>
                            <span class="u-txj">留言或其它附加信息：</span>
                            <span class="u_txera s-bg-white">
                                <textarea name="intro"></textarea>
                            </span>
                        </p>
                        <p>
                            <br />
                            <input type="checkbox" style="margin-left:145px;vertical-align: middle; cursor:pointer;" id="agree" /> <span style="vertical-align: middle;">我已阅读并同意<a href="/regulation?v=escrow" target="_blank" title="阅读" style="color:#0086cf;">《优名网域名经纪中介服务协议》</a></span>                             
                            <input type="submit" value="提交申请" id="btn_pro" class="u-btn3 s-bg-2a" />
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- 右边 -->
        
<div class="g-b-container">
    <div class="m-bb-container">
        <div class="m-bb-title s-bg-fb">
            <a href="javascript:void(0);" class="u-tia s-3c">域名代购案例</a>
        </div>
        <div class="m-apply-dg m-apply-dga">
            <div class="m-apply-title">
                <span class="u-fl">域名</span>
                <span class="u-fr">价格</span>
                <div class="u-cls"></div>
            </div>
            <div class="m-animate3" id="animate3">
                <div class="animate3 box">
                    <ul class="list">
                            <li>
                                <div class="spanl"><a href="http://ddos.com" target="_blank" rel="nofollow">ddos.com</a></div>
                                <div class="spanr">500万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://0081.com" target="_blank" rel="nofollow">0081.com</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://le.com" target="_blank" rel="nofollow">le.com</a></div>
                                <div class="spanr">1000万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://feidai.com" target="_blank" rel="nofollow">feidai.com</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://mana.com" target="_blank" rel="nofollow">mana.com</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://zt.com" target="_blank" rel="nofollow">zt.com</a></div>
                                <div class="spanr">500万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://4g.com" target="_blank" rel="nofollow">4g.com</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://yingxiong.com" target="_blank" rel="nofollow">yingxiong.com</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://wifi.com" target="_blank" rel="nofollow">wifi.com</a></div>
                                <div class="spanr">500万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://nf.com" target="_blank" rel="nofollow">nf.com</a></div>
                                <div class="spanr">500万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://ji.com" target="_blank" rel="nofollow">ji.com</a></div>
                                <div class="spanr">500万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://hg.com" target="_blank" rel="nofollow">hg.com</a></div>
                                <div class="spanr">1000万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://potato.com" target="_blank" rel="nofollow">potato.com</a></div>
                                <div class="spanr">200万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://laoban.com" target="_blank" rel="nofollow">laoban.com</a></div>
                                <div class="spanr">200万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://515.com" target="_blank" rel="nofollow">515.com</a></div>
                                <div class="spanr">300万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://517.com" target="_blank" rel="nofollow">517.com</a></div>
                                <div class="spanr">300万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://btb.com" target="_blank" rel="nofollow">btb.com</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://banana.com" target="_blank" rel="nofollow">banana.com</a></div>
                                <div class="spanr">300万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://lu.com" target="_blank" rel="nofollow">lu.com</a></div>
                                <div class="spanr">1000万以上</div>
                                <div class="u-cls"></div>
                            </li>
                            <li>
                                <div class="spanl"><a href="http://qy.net" target="_blank" rel="nofollow">qy.net</a></div>
                                <div class="spanr">100万以上</div>
                                <div class="u-cls"></div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="u-cls"></div>
    </div>
</div>

    
<include file="Public:footer" />
<include file="Public:footer_commonjs" />
    <script type="text/javascript" src="{:C('SKINURL')}js/escrow.js?v=20150514"></script>
	<script type="text/javascript" src="{:C('SKINURL')}js/jquery.cxscroll.min.js"></script>    
    <script type="text/javascript" src="{:C('SKINURL')}js/popupBox.js"></script>
    <script type="text/javascript">
        $("#animate3").cxScroll({ direction: "bottom", step: 2, speed: 800, time: 2000 });
</script>
<if condition="$Think.post.data eq 'ok'">
<script>
$(function(){
	showDialog(lang.a156);
});
</script>
</if>

</body>
</html>
