<!DOCTYPE html>
<html>
<head>
    <title>限时抢购 - xmw.com新米网</title>
    <meta name="keywords" content="#" />
    <meta name="description" content="#" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <link type="text/css" href="{:C('SKINURL')}xmwv2/css/global.css" rel="stylesheet" />
    <link type="text/css" href="{:C('SKINURL')}xmwv2/css/table.css" rel="stylesheet" />
    <link type="text/css" href="{:C('SKINURL')}xmwv2/css/buynow.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/jquery-ui.css">
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    <link type="text/css" href="{:C('SKINURL')}css/skin.css?v=201508120" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/bragin.css" />
	
</head>
<body>
<include file="header" />

<div class="clear20"></div>
<div class="formsearch">
	<div class="m-content">
		<div class='m-title-a u_be9 s-bg-fc u_mb6'>
        	<div class="timetip">剩余时间:<b class="c-ff3232" id="timetip" data-time="{$endTime}"> </b></div>
            <a href='javascript:void(0);'>
                <span class='z-imga-t3 u-fl'></span>
                <span class='u-fl s-05'>限时抢购</span>
            </a>
        </div>
        <div class="m-conditions u_df s-bg-white">
            <div class="m-keyword-a s-bg-fb u_bb0">
                <div class="f-keytxt u-fl">域名关键字：</div>
                <div class="u-fl" id="keyworda">
                    <span class="u-ipt-b u_b4 u_mr25">
                        <input type="text" class="doipt" ph="输入您要搜索的关键字" />
                    </span>
                    <label class="f-label">
                        <input type="radio" checked nu="0" name="keyword" /><span>包含</span>
                    </label>
                    <label class="f-label">
                        <input type="radio" nu="1" name="keyword" /><span>开始</span>
                    </label>
                    <label class="f-label">
                        <input type="radio" nu="2" name="keyword" /><span>结尾</span>
                    </label>
                    <input type="button" value="搜  索" k='0' class="button u-btn1 s-btn-2a" />
                </div>
                <div class="u-cls"></div>
            </div>
            <div id="g_sh">
                <div class="m-keyword-a u_bb0 u-cls">
                    <div class="f-keytxt u-fl">排除关键字：</div>
                    <div class="u-fl" id="keywordb">
                        <span class="u-ipt-b u_b4 u_mr25">
                            <input type="text" class="doipt" ph="输入您要排除的关键字" />
                        </span>
                        <label class="f-label">
                            <input type="radio" nu="0" checked name="keyword1" /><span>包含</span>
                        </label>
                        <label class="f-label">
                            <input type="radio" nu="1" name="keyword1" /><span>开始</span>
                        </label>
                        <label class="f-label">
                            <input type="radio" nu="2" name="keyword1" /><span>结尾</span>
                        </label>
                    </div>
                    <div class="u-cls"></div>
                </div>
                <div class="m-hz u_bb0 u-cls" id="m-hz" name="hz">
                    <div class="f-keytxta u-fl">后缀：</div>
                    <div class="f-hz u-fl">
                        <span class="z-cell">全部</span>
<span idx='com'>com</span><span idx='cn'>cn</span><span idx='net'>net</span><span idx='com.cn'>com.cn</span><span idx='cc'>cc</span>                        <!--<span idx="other">其它后缀</span>-->
                    </div>
                    <div class="u-cls"></div>
                </div>
                <div class="m-leng u_bb0 u-cls">
                    <div class="f-keytxta u-fl">域名长度：</div>
                    <div class="f-leng u-fl">
                        <div class="f-slider u-fl" style="margin-right: 6px;">
                            <div style="width: 380px; height: 7px; margin-top: 7px;" id="domian-len" name="len"></div>
                            <ol>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li style="width: 46px; padding-left: 1px;">5</li>
                                <li style="width: 45px; padding-left: 2px;">6</li>
                                <li style="width: 45px; padding-left: 2px;">7</li>
                                <li style="width: 38px; padding-left: 3px;">8</li>
                                <li>不限</li>
                            </ol>
                        </div>
                        <div class="f-range-sure u-fr">
                            <span class="u-ipt-c">
                                <input type="text" class="doipt" val="" />
                            </span>
                            <span class="u_ver_line"></span>
                            <span class="u-ipt-c">
                                <input type="text" class="doipt" val="" />
                            </span>
                            <input type="button" value="确定" class="u-btn2 s-bg-55b" />
                        </div>
                        <div class="u-cls"></div>
                    </div>
                    <div class="u-cls"></div>
                </div>
                <div class="m-leng u_bb0 u-cls">
                    <div class="f-keytxta u-fl">域名价格：</div>
                    <div class="f-leng u-fl">
                        <div class="f-slider">
                            <div style="width: 380px; height: 7px; margin-top: 7px;" id="domian-pri" name="pri"></div>
                            <ol>
                                <li style="width: 40px;">0</li>
                                <li style="width: 40px;">500</li>
                                <li>1000</li>
                                <li>&nbsp;&nbsp;2万</li>
                                <li>&nbsp;&nbsp;5万</li>
                                <li>&nbsp;10万</li>
                                <li>&nbsp;&nbsp;20万</li>
                                <li style="width: 42px;">&nbsp;&nbsp;50万</li>
                                <li style="text-align: right;">不限&nbsp;</li>
                            </ol>
                        </div>
                    </div>
                    <div class="f-range-sure u-fl u_ml19">
                        <span class="u-ipt-c">
                            <input type="text" class="doipt" val="" />
                        </span>
                        <span class="u_ver_line"></span>
                        <span class="u-ipt-c">
                            <input type="text" class="doipt" val="" />
                        </span>
                        <input type="button" value="确定" class="u-btn2 s-bg-55b" />
                    </div>
                    <div class="u-cls"></div>
                </div>
                <div class="m-style u_bb0 u-cls" name="ty">
                    <div class="f-keytxta u-fl">类型：</div>
                    <div class="f-style u-fl">
                        <div class="f-contions" id="m-style">
                            <span class="z-cell">全部</span>
                            <span lt="0">数字</span>
                            <span lt="1">字母</span>
                            <span lt="2">杂</span>
                        </div>
                        <div class="s-bg-f9" id="data_style" name="ty">
                            <div class="f-result">
                                <span class="z-cell" idx="a" tag="all">全部</span>
                                <volist name="lx['a']" id="vo">
                                <span idx="a{$vo.id}">{$vo.title}</span>
                                </volist>
                            </div>
                            <div class="f-result" idx="b">
                                <span idx="b" tag="all">全部</span>
                                <volist name="lx['b']" id="vo">
                                <span idx="b{$vo.id}">{$vo.title}</span>
                                </volist>
                            </div>
                            <div class="f-result" idx="c">
                                <span idx="c" tag="all">全部</span>
                                <volist name="lx['c']" id="vo">
                                <span idx="c{$vo.id}">{$vo.title}</span>
                                </volist>
							</div>
                        </div>
                    </div>
                    <div class="u-cls"></div>
                </div>
                <div class="m-poperty u_bb0 u-cls" name="oper">
                    <div class="f-keytxta u-fl">注册商：</div>
                    <div class="f-poperty u-fl" id="theme_oper">
                        <span class="z-cell">全部</span>
<span idx="万网">万网</span><span idx="易名">易名</span><span idx="西部数据">西部数据</span>                    </div>
                    <div class="u-cls"></div>
                </div>
                <div class="m-selconditions u-cls">
                    <div class="f-keytxta u-fl">已选条件：</div>
                    <div class="selconditions u-fl" id="selConditions">
                    </div>
                    <div class="u-cls"></div>
                </div>
            </div>
        </div>
        <div class="m-up-down u_mb6" id="m-up-down">
            <div class="up s-bg-white u_df0">收起</div>
            <div class="down s-bg-fb u_df0">展开更多[后缀 长度 价格 类型 主题]</div>
        </div>
     </div>
     <!------------/m-content------------->
    
</div>
<div class="clear20"></div>
<div class="mainer">
	<!---------------------新米table---------------------------->
    <div class="m-sort s-bg-fb sortline" id="sort">
    	<span idx="6" class="z-up">按抢购排序</span>
        <span idx="0" class="z-up">按长度排序</span>
        <span idx="2" class="z-up">按价格排序</span>
        <span idx="5" class="z-active z-down">按时间排序</span>
    </div>
    <div class="outframe">
    <input type="hidden" name="pagesize" id="pagesize" value="{$pagesize}">
    <input type="hidden" name="total" id="total" value="{$total}">
    <table class="table table-border table-bg table-hover" id="buyTable">
      <thead>
        <tr>
        <th width="2%"></th>
        <th width="21%"><span class="ym">域名</span></th>
        <th width="2%"></th>
        <th width="30%">简介</th>
        <th width="1%"></th>
        <th width="14%" class="text-c">注册商</th>
        <th width="14%" class="text-c">一口价</th>
        <th width="12%" class="text-c">操作</th>
        <th width="1%"></th>
        </tr>
      </thead>
      <tbody>
	     <tr><td colspan='9' class='u_nb u_tc u_norecord'>暂无记录！</td></tr>     
      </tbody>
    </table>
    
    <div class="xmpagebox" style="">
        <div id="xmpaging" class="xm-padding clearfix"></div>
    </div> 
    
    </div>
    <!---------------------/新米table---------------------------->
</div>
<include file="footer" />

<include file="Public:footer_commonjs" />

<script src="{:C('SKINURL')}xmwv2/js/common.js"></script>

<script src="{:C('SKINURL')}xmwv2/plus/layer/layer.js"></script>
<!--检索相关-->
<script type="text/javascript" src="{:C('SKINURL')}xmwv2/js/jquery.color.js"></script>
<script type="text/javascript" src="{:C('SKINURL')}xmwv2/js/jquery-ui.js"></script>
<script type="text/javascript" src="{:C('SKINURL')}xmwv2/js/bragin.js?v20150618"></script>

<include file="footcommon" />

<script src="{:C('SKINURL')}xmwv2/plus/slimscroll/jquery.slimscroll.js"></script>
<script>
$(function(){
	
	getData_xmw(1);
	
	//异步分页
	$(document).on('click','#xmpaging a',function () {
		var page = $(this).attr("k")?$(this).attr("k"):1;
		getData_xmw(page);
		$(document.body).scrollTop($(".outframe").position().top - 45);
	});
});

function getData_xmw(page) {
	var page = page?page:1;
	var canshu = getValue(page);
	var pagesize = parseInt($('#pagesize').val());
	
	//showLodingImg("0", "50%", "880px", "-15px");
	showLodingImgFix();
	$.ajax({
			type: "post",
			url: "/tao/buynowlist",
			data: {
				"input_val_one": canshu[0],
				"input_val_two": canshu[1],
				"select_one": canshu[2],
				"select_two": canshu[3],
				"ym_length_one": canshu[4],
				"ym_length_two": canshu[5],
				"earge_parse_one": canshu[6],
				"earge_parse_two": canshu[7],
				"hznum": canshu[8],
				"style_ym": canshu[9],
				"oper": canshu[10],
				"order": canshu[11],
				"pageIndex": canshu[12],
				"type":canshu[13],
				"pagesize": pagesize,
				"userid": $("#uid").val()
				},
			dataType: "json",
			success: function (data) {
				var da = $.parseJSON(data.data), $dom = $("#buyTable tbody");
				$dom.find('tr').remove();
				for (i in da) {
					//alert(da[i].dealsta);
					if(da[i].dealsta == '-1'){
						$qg = "<button class=\"x-abtn x-abtn1\"  onClick=\"userbuy(" + da[i].did + ");\">立即抢购</button>";	
					}else{
						$qg = "<button class=\"x-abtn x-abtn0\">已被抢购</button>";	
					}
					var r = "<tr id=tr" + da[i].did + ">\n"
						+ "	<td></td>\n"
						+ "	<td><div class=\"ymtit\"><a href=\"javascript:;\" class=\"link\">" + da[i].title + "</a></div></td>\n"
						+ "	<td></td>\n"
						+ "	<td>" + da[i].remark + "</td>\n"
						+ "	<td></td>\n"
						+ "	<td class=\"text-c\">" + da[i].registrars + "</td>\n"
						+ "	<td class=\"text-c c-0074b1\">" + (da[i].price == 0 ? lang.a89 : formatMoney(da[i].price, 0, "￥")) + "</td>\n"
						+ "	<td class=\"text-c\">" + $qg + "</td>\n"
						
						+ "	<td></td>\n";
						+ "</tr>\n";
						
					//alert(r);
					$dom.append(r);
				}
				if (da.length == 0) {
					$dom.append("<tr><td colspan='9' class='u_nb u_tc u_norecord'>" + lang.a77 + "</td></tr>");
					$("#xmpaging").css("display", "none");
				} else {
					$("#xmpaging").css("display", "block");
				}
				
				//alert(pagesize);
				$('#xmpaging').html(xmnextPage(page, data.total, pagesize, 3));
				hideLodingImg();
            	//loadCookie();
			}
	});
	
}

</script>
<if condition="$Think.session.XMUserInfo.uid gt 0">
<script>
function userbuy(id){
	if(id > 0){
		$.ajax({
			type: "post",
			url: "/tao/userbuy",
			data: {'id':id},
			dataType: "json",
			success: function (data) {
				
				$btn = $('#tr'+id).find('.x-abtn');
				if(data.status == 1){
					layer.confirm('抢购成功，是否继续抢购', {
						btn: ['继续抢购', '查看详情']
						,yes: function(index, layero){
								layer.close(index);
								//alert('继续抢购');
							  }
						,btn2: function(index, layero){
								layer.close(index);
								//alert('查看详情');
							  }
					  });
					$btn.html('已被抢购');
					$btn.removeAttr('onclick');
				}else{
					layer.msg(data.tip);	
				}
				$btn.attr('class','x-abtn x-abtn0');
			}
		});
	}
}
</script>
<else />
<script>
function userbuy(id){
	openloginpop('#pop-login');	
}
</script>
</if>

</body>
</html>
