<div class="s-bg-f7">
    <div class="s-bg-f7">
        <div class="g-footer-link">
                <p>
                    <span><b>兄弟网站</b>：</span>
<a href='http://www.iwo.com' target='#'>iwo互联工场</a>&nbsp; - &nbsp;<a href='http://www.517.com' target='#'>517美食</a>&nbsp; - &nbsp;<a href='http://www.wrz.com' target='#'>微融资</a>&nbsp; - &nbsp;<a href='http://whois.62.com' target='#'>whois查询</a>&nbsp; - &nbsp;<a href='http://www.aizhan.com' target='#'>爱站网</a>&nbsp; - &nbsp;<a href='http://www.qipaoxian.com' target='#'>起跑线</a>&nbsp; - &nbsp;<a href='http://www.tuxiaobei.com' target='#'>兔小贝</a>&nbsp; - &nbsp;<a href='http://www.515.com' target='#'>515游戏</a>
                </p>  
                <p>
                    <span><b>友情链接</b>：</span>
<a href='http://www.51dns.com/' target='#'>51DNS</a>&nbsp; - &nbsp;<a href='http://seo.aizhan.com' target='#'>seo培训</a>&nbsp; - &nbsp;<a href='http://www.gushibaike.com' target='#'>故事百科</a>&nbsp; - &nbsp;<a href='http://www.kutongji.com/' target='#'>酷统计</a>&nbsp; - &nbsp;<a href='http://www.techan.com/' target='#'>特产网</a>&nbsp; - &nbsp;<a href='http://www.9949.com' target='#'>小游戏</a>                </p>
        </div>
    </div>   

</div>