<div class="s-bg-2a bottom">
    <div class="g-b-banner">
        <ul>
            <li class="u_mr52">
                <p>7X24 <span>小时</span></p><p class="f-pa1   s-d1">全年无休</p>
            </li>
            <li class="u_mr60">
                <p>一对一服务</p><p class="f-pa1   s-d1">经纪人跟进协助</p>
            </li>
            <li class="u_mr72">
                <p>交易额领先</p><p class="f-pa1   s-d1">年交易额过数亿元</p>
            </li>
            <li>
                <p>4年服务经验</p><p class="f-pa1   s-d1">服务超5万客户</p>
            </li>
        </ul>
    </div>
</div>
<div class="s-bg-white">
    <div class="g-footer-nav">
        <div class="g-f-container u_ml34">
            <p class="f-img-t7"><a href="about.html" rel="nofollow" class="s-def">关于我们</a></p>
            <ol>
                <li><a href="about.html" rel="nofollow">62.com简介</a></li>
                <li><a href="culture.html" rel="nofollow">企业文化</a></li>
                <li><a href="contact.html" rel="nofollow">联系我们</a></li>
                <li><a href="regulationv-privacy.html" rel="nofollow">隐私声明</a></li>
            </ol>
        </div>
        <div class="g-f-container u_ml145">
            <p class="f-img-t8"><a href="about.html" rel="nofollow" class="s-def">帮助中心</a></p>
            <ol>
                <li><a href="help/help_1.html" rel="nofollow">注册引导</a></li>
                <li><a href="help/help_13.html" rel="nofollow">积分费率</a></li>
                <li><a href="help/help_3.html" rel="nofollow">如何添加出售</a></li>
                <li><a href="help/help_1.html" rel="nofollow">更多...</a></li>
            </ol>
        </div>
        <div class="g-f-container u_ml138">
            <p class="f-img-t9"><a href="contact.html" rel="nofollow" class="s-def">服务与支持</a></p>
            <ol>
                <li><a href="javascript:void(0)" class="u_fw s-2a f-img-l1">4000-6260-62</a></li>
                <li><a href="javascript:void(0)" class="f-img-l2">Support@62.com</a></li>
                <li><a href="broker.html" class="f-img-l3">域名经纪人</a></li>
                <li><a rel="nofollow" href="account/recharge.html#bankcards" class="f-img-l4">付款方式</a></li>
            </ol>
        </div>
        <div class="g-f-container u_ml96">
            <p class="f-img-t10">关注我们</p>
            <div class="m-focus" style="background:url({:C('SKINURL')}images/index/quickMark62.jpg);width:95px; height:95px;padding-top:0;margin-left:10px;"></div>
            <a target="_blank" style="display:block;margin:8px 0 0 12px;" href="http://shang.qq.com/wpa/qunwpa?idkey=4b086cbdba21b01eac329c2793d3623764305531e62ac47599ed8eba8872fc0c"><img border="0" src="{:C('SKINURL')}images/qqqun.png" alt="域名交易www.62.com" title="域名交易www.62.com"></a>
            
        </div>
        <div class="u-cls"></div>
    </div>
</div>
<div class="s-bg-fd">
    <div class="g-footer-certi">
        <p class="f-p4" style="margin-left:150px;">
            <a rel="nofollow" href="javascript:void(0)" style="background:none;"><img src="{:C('SKINURL')}images/gxjsrdqy.png" style="height:40px;" alt="国家高新技术认定企业" title="国家高新技术认定企业" /></a>
            <a rel="nofollow" href="http://www.internic.net/registrars/registrar-1916.html" target="_blank" title="域名注册资质ICANN认证" class="f-img-a2"></a>
            <a rel="nofollow" href="http://www.anquan.org/seccenter/search/http://62.com" target="_blank" title="安全联盟" class="f-img-a3"></a>
            <a rel="nofollow" href="http://www.anquan.org/authenticate/cert/?site=www.62.com&at=business" target="_blank" title="信誉档案" class="f-img-a7"></a>
            <a rel="nofollow" href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/F5F54082AAF44D6DB930393E0FD3B3A4" target="_blank" title="网络文化经营许可证" class="f-img-a4"></a>
            <a rel="nofollow" href="http://www.cyberpolice.cn/wfjb/" target="_blank" title="网络举报" class="f-img-a6"></a>
            <a rel="nofollow" href="javascript:void(0)" style="background:none"><img src="{:C('SKINURL')}images/copyright.png" style="height:42px;" alt="软件著作权" title="软件著作权" /></a>
            <!--<a rel="nofollow" href="https://sealsplash.geotrust.com/splash?&dn=www.62.com" style="background:none" target="_blank"><img src="https://seal.geotrust.com/getgeotrustsslseal?at=0&sealid=0&dn=www.62.com&lang=en&gmtoff=0" style="height:42px;" alt="This site has chosen a GeoTrust SSL Certificate to improve Web site security" title="GeoTrust SSL安全证书" /></a>-->
        </p>
        <p class="f-p5" style="text-align:center">
            <span>Copyright © 2012-2016 IWO Inc. |&nbsp;</span>
            <a rel="nofollow" href="https://my.qhee.com/u/5925" target="_blank">深圳前海股权交易中心挂牌企业：662739</a><br/>       
            <span class="u_pl35">SP经营许可证编号：B2-20150020&nbsp;|&nbsp;</span>
            <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备12030860号-7</a>
            <span rel="nofollow">&nbsp;|&nbsp; 增值电信业务经营许可证：粤B2-20150415</span>
            <span rel="nofollow">&nbsp;|&nbsp; 粤网文［2014］0511-161号</span>
            <!--<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6ab0f2e1be69a72ee1610998956dfb1e' type='text/javascript'%3E%3C/script%3E"));</script>-->
        </p>
    </div>
</div>