
<!DOCTYPE html>
<html>
<head>
    <title>我的账户 - 开通一口价</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1000">

    <meta property="qc:admins" content="1376071777766263757" />

    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/account.css" />

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/skin.css" />
    
</head>
<p>开发进度说明：还未开发</p>
<body class="s-bg-global">
<include file="Public:header" />
    

<div class="s-bg-f7">
    <div class="g-position">
        <div class="m-position u-fl">
            <ol>
                <li>当前位置：&nbsp;</li>
                <li><a href="/" class="s-2a">首页</a>&nbsp;&gt;&nbsp;</li>
                <li><a href="/account/index" class="s-2a">我的账户</a>&nbsp;&gt;&nbsp;</li>
                <li>开通服务</li>
            </ol>
        </div>
        <div class="m-serverTime u-fr">
    <include file="Public:page_time" />
</div>

        <div class="u-cls"></div>
    </div>
</div>
<div class="g-content u-cls">
    <div class="m-content">
        <!-- 左边 -->
        <div class="u-fl">
    <!-- 标题&验证 -->
    <div class="s-bg-fc u_be9" style="width: 702px;">
        <div class="m-ta s-bg-white">
            <div class="title">
                <a class="s-3c" href="javascript:void(0)">
                    <span>开通一口价</span>
                </a>
            </div>
            <div class="u-cls"></div>
        </div>
    </div>
    <!-- 开通数据 -->
    <div class="m-open-data s-bg-fc">
        <div class="openimg">
            <span class="f-img-o5">优势</span>
        </div>
        <div class="opentxt opentxt2">
            <ul>
                <li class="u_mb18"><span class="u_fw">1.&nbsp;</span>即时申请，即时展示，随时随地的展示出售。</li>
                <li class="u_mb18"><span class="u_fw">2.&nbsp;</span>分类展示，自主标价，让您的域名卓尔不群。</li>
                <li><span class="u_fw">3.&nbsp;</span>立即购买，极速交易，高效诚意的完成交易。</li>
            </ul>
        </div>
        <div class="u-cls"></div>
    </div>
    <div class="m-open-data s-bg-fc">
        <div class="openimg">
            <span class="f-img-o2">资费</span>
        </div>
        <div class="opentxt">
            <table>
                <tr>
                    <td>开通一口价服务只需冻结：<span class="u_fw">￥1,000</span>元 ，当您申请关闭时，我们将释放您的<span class="u_fw">￥1,000</span>元资金。</td>
                </tr>
            </table>
        </div>
        <div class="u-cls"></div>
    </div>
    <div class="m-open-data s-bg-fc">
        <div class="openimg">
            <span class="f-img-o3">注意</span>
        </div>
        <div class="opentxt opentxt1">
            <ul>
                <li class="u_mb18 u_li18">
                    <span class="u_fw">1.&nbsp;</span>用户可以随时下架正在展示中的一口价域名。
                </li>
                <li class="u_li18">
                    <span class="u_fw">2.&nbsp;</span>若一口价域名发起交易后卖家(您)违约，则1000元保证金作为违约金不予退还，同时 下架该用户所有一口价域名。
                </li>
            </ul>
        </div>
        <div class="u-cls"></div>
    </div>
    <div class="m-open-data s-bg-fc">
        <div class="openimg">
            <span class="f-img-o4">钱包</span>
        </div>
        <div class="opentxt">
            <table>
                <tr>
                    <td>您的可用余额：<span class="u_fw s-75b">￥0.00</span></td>
                </tr>
            </table>
        </div>
        <div class="u-cls"></div>
    </div>
    <div class="m-open-btn s-bg-f5">
        <input type="button" class="u-btn12 s-bg-2a kt_ykj_yz" k="0" value="立即开通" />
    </div>
</div>

        <!-- 右边 -->
        
<include file="Account:sidenav" />

        <div class="u-cls"></div>
    </div>
</div>

    
<include file="Public:footer" />
<include file="Public:footer_commonjs" />

    
    <script type="text/javascript" src="{:C('SKINURL')}js/logic/account.js"></script>

</body>
</html>
