<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>财务管理-充值记录</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/icons.css" />
<link rel="stylesheet" type="text/css" href="/css/iframe.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/ht_global.js"></script>
<script type="text/javascript" src="/js/ht_iframeHeight.js"></script>
<script type="text/javascript" src="/js/plus/laydate/laydate.js"></script>
<script type="text/javascript" src="/js/plus/layer/layer.js"></script>
<script>
$(function(){
	//搜索按钮
	dohover('#submitbox','submitbox-hover');
	$('#submitbox').mousedown(function() {
        $(this).addClass('submitbox-down');
    }).mouseup(function() {
        $(this).removeClass('submitbox-down');
    });
	
	$("#checkAll").click(function() {
		$('input[name="id"]').prop("checked",this.checked); 
	});
});

function confirmDel(id){
	//处理弹窗相应参数
	$('#tipsTxt').text('您确定要删除id='+id+'的这条记录吗？');
	$('#yes').attr('onclick',"window.appiframe.del("+id+")");
	//父级页面载入窗口
	iframeopenpop('#pop-confirm');
}

//删除操作
function del(id){
	alert('这里去异步操作删除id='+id+'的这条记录了');
	//异步删除完后，父窗口移除确认弹窗，并刷新本iframe页面
	window.parent.iframeclosepop('#pop-confirm');
	window.location.href=window.location.href;
}

function turnToIndex(id){ 
    $(window.parent.document).find('#401').removeClass("current");
    $(window.parent.document).find('#402').removeClass("current");
    $(window.parent.document).find('#403').removeClass("current");  
    $(window.parent.document).find('#'+id).addClass("current");
}

//排序  type：  1：按更新时间排序 （默认）
function setorder(type){
    if($("#ordervalue").val() == '1'){
        $("#ordervalue").val('0');
    }else{
        $("#ordervalue").val('1');
    }
    $("#ordertype").val(type);
    $("#formsearch").submit();
}

//状态搜索  0: 全部  1：在线 2：线下  3：充值不成功
function changeStatus(type){
    $("#p").val(1);
    $("#clickstatus").val(type);
    $("#formsearch").submit();
}

//翻页
function setpage(p){
    $("#p").val(p);
    $("#formsearch").submit();
}

$(function(){
  var start = {
      elem: '#start',
      format: 'YYYY/MM/DD',
      max: laydate.now(), //最大日期
      istime: true,
      istoday: false,
      choose: function(datas){
           end.min = datas; //开始日选好后，重置结束日的最小日期
           end.start = datas //将结束日的初始值设定为开始日
      }
  };
  var end = {
      elem: '#end',
      format: 'YYYY/MM/DD',
      max: laydate.now(),
      istime: true,
      istoday: false,
      choose: function(datas){
          start.max = datas; //结束日选好后，重置开始日的最大日期
      }
  };
  laydate(start);
  laydate(end);

}); 


function bigpic(src){
    layer.open({
        type: 1,
        title: false,
        offset:  [($(window.parent.document).scrollTop() + 20) +'px', '10%'],
        closeBtn: 1,
        shadeClose: true,
        skin:'bigpic_box',
        area: ['800px', '400px'],
        content: '<div class="bigpic"><img width="800px" height="400px" src="' + src + '"></div>'
    });
  }
  
</script>
</head>
<body>
<div class="page-topline">
<div class="page-topline-content cl">
    <div class="crumbs">
        <a href="javascript:;">首页</a><em>»</em><a href="javascript:;">财务管理</a><em>»</em><a href="javascript:;">线下充值</a>
    </div> 
    <div class="page-tab">
        <a href="/money/index.html" onclick="turnToIndex(401);">充值记录</a>
        <a href="javascript:;" class="on">线下充值</a>
    </div> 
</div>
</div>

    
<div class="module" id="moduleList"> 
    <div class="module-content" id="moduleList-content"> 
        <div class="h86 topline clearfix">
            <form id="formsearch" action="/money/indexunline.html" method="post">
             <div class="xuanxiang">
                 <!--span class="xuan_x">
                    <input type="radio" name='clickstatus' onclick="changeStatus(0)" <if condition="$clickstatus eq 0">checked</if> value='全部'><em>全 部</em>&nbsp;&nbsp;
                    <input type="radio" name='clickstatus' onclick="changeStatus(1)" <if condition="$clickstatus eq 1">checked</if>  value='在线'>在线&nbsp;&nbsp;
                    <input type="radio" name='clickstatus' onclick="changeStatus(2)" <if condition="$clickstatus eq 2">checked</if>  value='线下'>线下&nbsp;&nbsp;
                    <input type="radio" name='clickstatus' onclick="changeStatus(3)" <if condition="$clickstatus eq 3">checked</if>  value='充值不成功'>充值不成功&nbsp;&nbsp;
                </span--> 
                <span>共：<em>{$totalmoney}</em>&nbsp;元</span> 
            </div>
              <div  class="xuanxiang">
                <div class="rightbtn">
                	     <div class="date_box">
                          <span>开始时间：</span><span><input type="text" class="inputtext laydate-icon" name="start" id="start" value="{$starttime}"></span>
                          <span>结束时间：</span><span><input type="text" class="inputtext laydate-icon" name="end" id="end" value="{$endtime}"></span>
                        </div>
                        <span class="searchtip">搜索</span>
                        <input type="text" name="keywords" class="searchword" placeholder="请输入搜索词..." value="{$keywords}"/>
                        <div class="submitbox" id="submitbox">
                            <input type="submit" value="搜索" class="searchbtn" />
                        </div>
                    <input type="hidden" id="clickstatus" name="clickstatus" value="{$clickstatus}" />
                    <input type="hidden" id="ordervalue" name="ordervalue" value="{$ordervalue}" />
                    <input type="hidden" id="ordertype" name="ordertype" value="{$ordertype}" />
                    <input type="hidden" id="p" name="p" value="{$p}" />
                </div>
              </div>
            </form> 
        </div>
        
        <div class="listbox">
        <table cellpadding="0" cellspacing="0" width="100%" class="table">
          <thead>
            <tr>
              <th width="10%" onclick="setorder(3)"><span class="order_btn">充值单号<em class="icon icon-arrow"></em></span></th>
              <th width="15%"><span>用户名</span></th>
              <th width="15%" onclick="setorder(1)"><span class="order_btn">日期<em class="icon icon-arrow"></em></span></th>
              <th width="10%" onclick="setorder(2)"><span class="order_btn">充值金额<em class="icon icon-arrow"></em></span></th>
              <th width="10%"><span>充值截图</span></th>
              <th width="10%"><span>充值人员</span></th>
            </tr>
          </thead>
          <tbody>
            <foreach name='data' item='v'>
                <tr>
                  <td>{$v['id']}</td>
                  <td><a target="_blank" href="http://www.xiongzhang.com/space/home-{$v['user_id']}.html" title="{$v['mobile']}">{$v['mobile']}</a></td>
                  <td>{$v['add_time']|date='Y-m-d H:i:s',###}</td>
                  <td>{$v['money']}</td>
                  <td><img  onclick="bigpic('{$v['img']}');"  height="100" width="150" src="{$v['img']}"/></td>
                  <td>{$v['username']}</td>
                </tr>
            </foreach>
          </tbody>
        </table>
        </div>
        <div class="pageline">
            {$page}
        </div>
    </div>
</div>

<include file='Common/popup'/>
</body>
</html>
