
<!DOCTYPE html>
<html>
<head>
    <title>终端域名 - 62.com优名网</title>
    <meta name="keywords" content="终端域名,域名终端,域名交易,域名拍卖,域名竟价,域名出售,买域名,域名中介,域名经纪" />
    <meta name="description" content="域名交易，买域名，卖域名，优名网是中国领先的第三方域名交易平台,致力于为用户提供域名拍卖,域名交易,域名出售,域名中介,域名代购,域名经纪等域名增值服务." />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{:C('SKINURL')}images/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <link type="text/css" href="{:C('SKINURL')}css/common.css?v=201508120" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/terminal.css" />

    <link rel="stylesheet" type="text/css" href="{:C('SKINURL')}css/skin.css" />
    
</head>
<body class="s-bg-global">
<include file="Public:header" />
    


<div class="s-ban marB10" style="background:url({:C('SKINURL')}images/s-ban-zd.jpg) 50% 0 no-repeat;">
    <div class="m-width">
        <h1>千里马常有，伯乐不常有！优名常有，终端亦常有！</h1>
        <p>垃圾邮件骚扰？错失终端？把域名交给62.com 我们帮你卖终端！</p>
        <a href="#submitDM" class="btn">现在就去提交</a>
    </div>
</div>
<div class="m-width marB10">
    <div class="m-term-l">
        <div class="u_be2 s-bg-white marB6">
            <div class="m-ta">
                <div class="title">
                    <div class="s-47">
                        <span class="z-img-zd"></span>
                        <h2>终端域名</h2>
                    </div>
                </div>
            </div>
            <ul class="term-i-list">
                <li>
                    <p class="icon i1"></p>
                    <p class="n">多种沟通渠道</p>
                </li>
                <li>
                    <p class="icon i2"></p>
                    <p class="n">精准价格预估</p>
                </li>
                <li>
                    <p class="icon i3"></p>
                    <p class="n">强大终端筛选</p>
                </li>
                <li>
                    <p class="icon i4"></p>
                    <p class="n">专业谈判能力</p>
                </li>
            </ul>
        </div>
        <div class="u_be2 s-bg-white">
            <div class="m-ta">
                <div class="title">
                    <div class="s-47">
                        <h2 id="submitDM">提交域名</h2>
                    </div>
                </div>
            </div>
            <div class="term-submit">
                <ul class="text marB10">
                    <li class="b">注意事项：</li>
                    <li>请保证所提交的域名归您自己个人所持有，不存在争议和纠纷</li>
                    <li>一个有吸引力的报价可能能让终端更有兴趣</li>
                    <li>交易手续费为8%，卖方支付</li>
                </ul>
                <form action="/terminaloperation" method="post">
                    <div class="form">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="marB10">
                            <tr>
                                <th width="15"></th>
                                <th>域名</th>
                                <th width="100">最低价格</th>
                                <th width="100">期望价格</th>
                                <th>希望的终端？（可不填）</th>
                                <th width="15"></th>
                            </tr>
                            <tr class="record">
                                <td class="no">1</td>
                                <td><span class="u-ipt-d" style="">
                                    <input type="text" maxlength="50" class="domainName" name="domainName[]" value="" ></span></td>
                                <td><span class="u-ipt-d">
                                    <input type="text" maxlength="10" class="min_price" name="min_price[]" value=""></span></td>
                                <td><span class="u-ipt-d">
                                    <input type="text" maxlength="10" class="max_price" name="max_price[]" value=""></span></td>
                                <td><span class="u-ipt-d">
                                    <input type="text" maxlength="50" class="ipt_terminal" name="ipt_terminal[]" value=""></span></td>
                                <td><span class="addbtn"></span></td>
                            </tr>
                        </table>
                        <div class="add-DM">
                                <span class="addbtn">添加域名<span></span></span>
                            <div class="u-cls"></div>
                            <div class="ly">
                                <label>留言：</label>
                                <span class="textarea">
                                    <textarea id="tt_msg" name="tt_msg" maxlength="100"></textarea></span>
                            </div>
                        </div>
                    </div>
                    <div class="agr">
                        <input id="ckb_agree" type="checkbox" value="">
                        我已阅读并同意<a target="_blank" href="/regulation?v=escrow">《域名中介服务协议》</a>
                    </div>
                    <div class="submitBtn">
                        <input type="hidden" name="id" value="" />
                        <input type="hidden" name="type" value="0" />
                        <input type="submit" id="btn_sub" value="提交域名">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="m-term-r">
        <div class="u_be2 s-bg-white marB6">
            <div class="m-ta">
                <div class="title">
                    <div class="s-47">
                        <h2>推荐流程</h2>
                    </div>
                </div>
            </div>
            <ul class="term-pro">
                <li><span>1</span>提交域名</li>
                <li><span>2</span>平台审核</li>
                <li><span>3</span>授权推荐</li>
                <li><span>4</span>推给终端</li>
                <li><span>5</span>达成交易</li>
            </ul>
        </div>
        <div class="u_be2 s-bg-white marB6">
            <div class="m-ta">
                <div class="title">
                    <div class="s-47">
                        <h2>我们已成功推荐给</h2>
                    </div>
                </div>
            </div>
            <div class="term-guys" id="animate3">
                <a class="next"></a><a class="prev"></a>
                <div class="animate3 box">
                    <ul class="list">
                        <li>
                            <a rel="nofollow" href="http://www.ausnutria.com" title="澳优海普诺凯" target="_blank">
                                <img alt="澳优海普诺凯" src="{:C('SKINURL')}images/ayhp.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.lu.com" title="陆金所" target="_blank">
                                <img alt="陆金所" src="{:C('SKINURL')}images/lu.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.nf.com" title="雅贝氏" target="_blank">
                                <img alt="雅贝氏" src="{:C('SKINURL')}images/nf.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://qy.com" title="爱奇艺" target="_blank">
                                <img alt="爱奇艺" src="{:C('SKINURL')}images/aqy.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.bananatv.com" title="bananatv" target="_blank">
                                <img alt="bananatv" src="{:C('SKINURL')}images/banana.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.yingshi.com" title="云帆影音" target="_blank">
                                <img alt="云帆影音" src="{:C('SKINURL')}images/yingshi.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.shuafubao.com" title="刷付宝" target="_blank">
                                <img alt="刷付宝" src="{:C('SKINURL')}images/sfb.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.wrz.com" title="微融资" target="_blank">
                                <img alt="微融资" src="{:C('SKINURL')}images/wrz.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://6wan.com" title="快玩游戏盒" target="_blank">
                                <img alt="快玩游戏盒" src="{:C('SKINURL')}images/6wan.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.999.hk" title="大田世纪" target="_blank">
                                <img alt="大田世纪" src="{:C('SKINURL')}images/dt.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.517.com" title="517美食" target="_blank">
                                <img alt="517美食" src="{:C('SKINURL')}images/517.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.iwo.com" title="互联工厂" target="_blank">
                                <img alt="互联工厂" src="{:C('SKINURL')}images/IWO.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.ausnutria.com" title="澳优海普诺凯" target="_blank">
                                <img alt="澳优海普诺凯" src="{:C('SKINURL')}images/ayhp.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.lu.com" title="陆金所" target="_blank">
                                <img alt="陆金所" src="{:C('SKINURL')}images/lu.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.nf.com" title="雅贝氏" target="_blank">
                                <img alt="雅贝氏" src="{:C('SKINURL')}images/nf.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://qy.com" title="爱奇艺" target="_blank">
                                <img alt="爱奇艺" src="{:C('SKINURL')}images/aqy.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.bananatv.com" title="bananatv" target="_blank">
                                <img alt="bananatv" src="{:C('SKINURL')}images/banana.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.yingshi.com" title="云帆影音" target="_blank">
                                <img alt="云帆影音" src="{:C('SKINURL')}images/yingshi.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.wrz.com" title="微融资" target="_blank">
                                <img alt="微融资" src="{:C('SKINURL')}images/wrz.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://6wan.com" title="快玩游戏盒" target="_blank">
                                <img alt="快玩游戏盒" src="{:C('SKINURL')}images/6wan.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.999.hk" title="大田世纪" target="_blank">
                                <img alt="大田世纪" src="{:C('SKINURL')}images/dt.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.517.com" title="517美食" target="_blank">
                                <img alt="517美食" src="{:C('SKINURL')}images/517.png">
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="http://www.iwo.com" title="互联工厂" target="_blank">
                                <img alt="互联工厂" src="{:C('SKINURL')}images/IWO.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="u-cls"></div>
</div>

    
<include file="Public:footer" />
<include file="Public:footer_commonjs" />
    <script type="text/javascript" src="{:C('SKINURL')}js/jquery.cxscroll.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".term-submit .form .addbtn").bind("click", addRecord);
            $(".term-submit .form").on("click", ".delbtn", delRecord);

            $(".min_price,.max_price").live("keyup", function () {
                clearNoNum1(this);
            })

            $("#btn_sub").click(function () {
                if ($("#userId").length < 1) {
                    showDialog(lang.a66);
                    return false;
                }
                if (!$("#ckb_agree").attr("checked")) {
                    showDialog(lang.a194);
                    return false;
                }
                var f = m = false;                
                $(".domainName,.min_price,.max_price").each(function () {
                    if ($(this).val().trim() == "") {
                        $(this).focus();
                        f = true;
                    }
                    if ($(this).hasClass("max_price")) {
                        if (Number($(this).val()) < Number($(this).parents(".record").find(".min_price").val())) {
                            m = true;
                            $(this).focus();
                        }
                    }
                })
                if (f) {
                    showDialog(lang.a18);
                    return false;
                }
                if (m) {
                    showDialog(lang.a195);
                    return false;
                }
            });
            var error = getCookie("error");
            if (error == "1") {
                delCookie("error");
                showDialog(lang.a196);
            } else if (error == "2") {
                delCookie("error");
                showDialog(lang.a23);
            } else if (error == "3") {
                delCookie("error");
                showDialog("提交失败，域名重复");
            }

        });
        function addRecord() {
            if ($(".domainName").length > 9) {
                showDialog(lang.a197);
                return false;
            }
            var addHtml = "<tr class=\"record\"><td class=\"no\">" + ($(".term-submit .form .record:last").index() + 1) + "</td><td><span class=\"u-ipt-d\"><input type=\"text\" maxlength=\"50\" class=\"domainName\" name=\"domainName[]\"></span></td><td><span class=\"u-ipt-d\"><input type=\"text\" maxlength=\"10\" class=\"min_price\" name=\"min_price[]\"></span></td><td><span class=\"u-ipt-d\"><input type=\"text\" maxlength=\"10\" class=\"max_price\" name=\"max_price[]\"></span></td><td><span class=\"u-ipt-d\"><input type=\"text\" maxlength=\"50\" class=\"ipt_terminal\" name=\"ipt_terminal[]\"></span></td><td><span class=\"delbtn\"></span></td></tr>";
            $(".term-submit .form .record:last").after(addHtml);
        }
        function delRecord() {
            $(this).parents(".record").remove();
            $(".term-submit .form .no").each(function (i) {
                $(this).text(i + 1);
            });
        }
        $("#animate3").cxScroll({ direction: "bottom", step: 2, speed: 800, time: 2000 });
    </script>

</body>
</html>
